body {
  background: url(./images/background.jpeg);
  background-color: rgb(200, 255, 198);
  margin: 0;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.game-container {
  background-color: rgb(201, 255, 199);
  width: 1300px;
  height: 500px;
  margin-top: 20px;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(201, 255, 199);
  grid-template-columns: repeat(5, 1fr);
}

.cards {
  height: 100px;
  width: 100px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 90px;
}

img {
  height: 200px;
  width: 200px;
}
