.main-page {
  background: url(./images/backgMain.jpeg);
  background-position: center;
  background-size: cover;
}
.h1-mainpage {
  color: rgb(255, 25, 209);
  font-size: 600pxx;
}

.h3-mainpage {
  color: rgb(170, 80, 152);
  font-size: 55px;
}
.shifting {
  background-color: rgb(255, 214, 227);
  border: solid rgb(255, 214, 227);
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  animation: 2s linear infinite blink;
}

body {
  background: url(./images/backgMain.jpeg);
  background-color: rgb(200, 255, 198);
  color: rgb(62, 112, 158);
  margin: 0;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 34px;
  font-style: normal;
}

h1 {
  font-size: 90px;
  color: rgb(133, 11, 135);
}
h3 {
  font-size: 50px;
  color: rgb(62, 112, 158);
}

.text {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.game-container {
  background-color: rgb(255, 192, 216);
  width: 1300px;
  height: 500px;
  margin-top: 20px;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(255, 192, 216);
  grid-template-columns: repeat(5, 1fr);
  border-radius: 26px;
}

.cards {
  height: 100px;
  width: 100px;
  background-color: rgb(165, 165, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 90px;
}

img {
  height: 200px;
  width: 200px;
}
